/*cores*/
    /*background*/

        .menu-color:hover{
        background-color: rgb(245, 21, 234);
        }

        .background-roxo{
        background: rgb(196, 39, 188);
        }

        .cinza{
            background: rgb(89, 89, 89)
        }

        .cor-rosa{
            background: white;
        }

        .cor-rosa:hover{
            background: #fee7fd;
        }

        .search-color{
            background: rgb(196, 39, 188);
            color: white;
            border-color: rgb(196, 39, 188);
        }

        .search-color:hover{
            background-color: rgb(245, 21, 234);
            border-color: rgb(196, 39, 188);
        }

        .menu-background:hover{
            background-color: #fee7fd;
        }
    /*fim-background*/
    /*border*/
        .border-gray{
            border: solid 3px rgb(89, 89, 89);
        }

        .border-gray-2{
            border-bottom: solid 3px rgb(89, 89, 89) ;
        }
        .border-gray-3{
            border: solid 2px rgb(89, 89, 89);   
        }
        .border-gray-3:hover{
            border: solid 2px rgb(196, 39, 188);
        }
        .border-gray-3:focus{
            box-shadow: 0px 0px 5px rgb(196, 39, 188);
            border-color: rgb(245, 21, 234);
        }

        .border-gray-menu{
            border: solid 2px rgb(109, 107, 107); 
            box-shadow: 0px 0px 5px rgb(89, 89, 89);
        }
    /*fim-border*/

    /*fonte*/
        .font-roxo{
         color: rgb(196, 39, 188);
        }

        .font-cinza{
            color: rgb(89, 89, 89);
        }

        .font-cinza:hover{
            color: rgb(89, 89, 89);
         text-decoration: none;  
        }

    /*fim-fonte*/
    .search-clicar:focus{
        box-shadow: 0px 0px 5px rgb(196, 39, 188);
        border-color: rgb(245, 21, 234);
    }
/*fim-cores*/

/*fonte-forma e tamanho*/

    .fonte{
        font-family: Curlz MT;
        font-weight: bold;
    }
    .text-size{
        font-size: x-large;
    }
    .menu-font-size{
        font-size: medium;
    }

    .centralizar{
        justify-content: center;
    }
    
    .centralizar-2{
        text-align: center;
    }
    
/*fim-fonte-forma e tamanho*/

/*formas e medidas*/

    .livro{
    height: 43px;
    width: 35px;
    }


    .bola {
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        border: 1px solid rgb(196, 39, 188);
        background-color: rgb(196, 39, 188);
    }

    .size{
        width:200px;
        height:200px;
        border: solid 3px rgb(89, 89, 89);
        border-radius:10%;
    }

    .margin{
        margin-left: 15px;
    }

    .position-menu{
        margin-top: 20px;
        margin-left: -50px;  
    }

    .footer{
        height:50px;
    }
    .form-size{
        width:360px;
    }
    
    .form-size-2{
        width:300px;
    }
    
    .margin-2{
        margin-top: 5px;
    }
/*fim-formas e medidas*/

.add-button{
    border: solid 3px rgb(89, 89, 89);
    height:35px;
    color: rgb(196, 39, 188);
    border-radius: 10px;
}

.add-button:hover{
    background-color: rgb(245, 21, 234);
    color:white;
}

.del-button{
    border: solid 3px rgb(89, 89, 89);
    height:35px;
    color: rgb(196, 39, 188);
    border-radius: 10px;
}

.del-button:hover{
    background-color: rgb(245, 21, 234);
    color:white;
}


.button-save{
    background-color: rgb(196, 39, 188);
    border: solid 1px rgb(196, 39, 188);
    height:50px;
    width:150px;
}

.button-save:hover{
    background-color: rgb(245, 21, 234);
    border: solid 1px rgb(245, 21, 234);
}

.small-box{
    height:40px;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}




.seta{
    -webkit-appearance: none;
      -moz-appearance: none;    
}

.triangulo{
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #949396;
    /*dar um jeito de inserir isso dentro do formulário de opções*/
}

