/*cores*/
    /*background*/
        .background-roxo{
            background: rgb(196, 39, 188);
        }

        .cinza{
            background: rgb(89, 89, 89)
        }
        
        .menu-background:hover{
            background-color: #fee7fd;
        }

        .search-color{
            background: rgb(196, 39, 188);
            color: white;
            border-color: rgb(196, 39, 188);
        }

        .search-color:hover{
            background-color: rgb(245, 21, 234);
            border-color: rgb(196, 39, 188);
        }
        .menu-color{
            background-color: rgb(196, 39, 188);
        }

        .menu-color:hover{
            background-color: rgb(245, 21, 234);
            }
    /*fim-background*/

    /*fonte*/

        .font-roxo{
            color: rgb(196, 39, 188);
        }
        .font-cinza{
            color: rgb(89, 89, 89);
        }
        .font-cinza:hover{
            color: rgb(89, 89, 89);
            text-decoration: none;  
        }
        
        .legenda-imagem figcaption{
            opacity: 0;
            color:rgb(196, 39, 188);
            position: absolute;
            top: 40px;
            padding: 15px;
        }

        /* quando mouse passar por cima */
        .legenda-imagem:hover figcaption{
            opacity: 1;
            color:rgb(196, 39, 188);
            text-decoration: none;
        }

        .underline{
            text-decoration: none;
        }

        .underline:hover{
            text-decoration: underline rgb(196, 39, 188);
            color: rgb(196, 39, 188);
        }
    /*fim-fonte*/
    .search-clicar:focus{
        box-shadow: 0px 0px 5px rgb(196, 39, 188);
        border-color: rgb(245, 21, 234);
    }
    
    .border-gray-menu{
        border: solid 2px rgb(109, 107, 107); 
        box-shadow: 0px 0px 5px rgb(89, 89, 89);
    }
/*fim-cores*/
/*fonte-forma e tamanho*/
    .fonte{
        font-family: Curlz MT;
        font-weight: bold;

    }
    .text-size{
        font-size: x-large;
    }
    .centralizar{
        text-align:center;
    }
    
    .menu-font-size{
        font-size: medium;
    }

/*fim-fonte-forma e tamanho*/

/*formas e medidas*/
    .foto-main{
        width: 180px;
        height: 160px;
        border: solid 3px rgb(196, 39, 188);
        margin-bottom:20px;
        margin-top: 20px;
    }
    .foto-main:hover{
    filter: blur(2px);
    }
    .categorias{
        height: 185px;
        width: 210px;
        border: solid 3px rgb(89, 89, 89)
    }
    
    .bola {
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        border: 1px solid rgb(196, 39, 188);
        background-color: rgb(196, 39, 188); 
    }
    .size{
        width:200px;
        height:200px;
        border: solid 3px rgb(89, 89, 89);
        border-radius:10%;
    }
    
    .margin{
        margin-left: 10px;
    }
    .position-menu{
        margin-top: 20px;
        margin-left: -50px;  
    }
    
    .footer{
        height:50px;
    }
    
    
    .livro{
    height: 43px;
    width: 35px;
    }
/*fim-formas e medidas*/


 





