
/*organizar*/
/*cor*/
    .cinza{
        background: rgb(89, 89, 89)
    }

    .menu-color{
        background-color: rgb(196, 39, 188);
    }

    .menu-color:hover{
        background-color: rgb(245, 21, 234);
    }

    .border-gray-menu{
        border: solid 2px rgb(109, 107, 107); 
        box-shadow: 0px 0px 5px rgb(89, 89, 89);
    }

    .background-roxo{
        background: rgb(196, 39, 188);
    }

    .cinza{
        background: rgb(89, 89, 89)
    }

    .font-roxo{
        color: rgb(196, 39, 188);
    }
    .font-cinza{
        color: rgb(89, 89, 89);
    }
    .font-cinza:hover{
        color: rgb(89, 89, 89);
        text-decoration: none;  
    }

    .margin{
        margin-left: 15px;
    }

    .menu-background{
        background-color: white;
    }

    .menu-background:hover{
        background-color: #fee7fd;
    }

    .border{
        border: solid 2px rgb(89, 89, 89);
    }

    .search-clicar:focus{
        box-shadow: 0px 0px 5px rgb(196, 39, 188);
        border-color: rgb(245, 21, 234);
    }

    .search-color{
        background: rgb(196, 39, 188);
        color: white;
        border-color: rgb(196, 39, 188);
    }
        
    .search-color:hover{
        background-color: rgb(245, 21, 234);
        border-color: rgb(196, 39, 188);
    }

    .border-rosa{
        border: solid 3px rgb(196, 39, 188);
    }
/*fim-cor*/



.fonte{
    font-family: Curlz MT;
    font-weight: bold;
}
.text-size{
    font-size: x-large;
}


.livro{
height: 43px;
width: 35px;
}

.centralizar-texto{
    text-align: center;
}


.bola {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid rgb(196, 39, 188);
    background-color: rgb(196, 39, 188);
}

.size{
    width:200px;
    height:200px;
    border: solid 3px rgb(89, 89, 89);
    border-radius:10%;
}


.position-menu{
    margin-top: 20px;
    margin-left: -50px;  
}

.menu-font-size{
    font-size: medium;
}



.centralizar{
    justify-content: center;
}



.margin-letra{
    margin-right: 15px;
}

.card{
    height:200px;
}

.img-size{
    height: 192px;
}

.margin-card{
margin-left: 50px;
}

.margin-letra-2{
    margin-left:25px;
}

.fonte-card{
    font-size:18px;
}

.position-card-img{
    position: relative;
    left: -15px;
}

.footer{
    height:50px;
}